<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link href="{% static 'images/logo.jpg' %}" rel="icon" />
    <link href="{% static 'images/logo.jpg' %}" rel="apple-touch-icon" />
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet" /> {% endcomment %}
    <title>Master Kumbia | accounts</title>
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-5.2.0-web/css/all.css' %} " />
    <link rel="stylesheet" href="{% static 'css/music-display_page.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
</head>

<body style="background:#01040B;">
    <section id="app">
        <div id="main">
            <div id="content">
                <section class="" tabindex="0">
                    <div class="">
                        <nav class="_layout-module--nav" id="side-nav">
                            <div class="" style="display:flex; width:100%;">
                                <div class="" style="flex-grow: 0; flex-shrink: 0;position: relative;overflow: hidden; width: 100%">
                                    <div class="" style="display:flex;flex-direction: column;font-size: 2rem;height: 100%;overflow-x: hidden;overflow-y: auto;padding: 0;">
                                        <a href="{% url 'latinoMusic_app:index' %}" style="color:#fff">Master Kumbia</a>
                                        <section class="" style="display: flex; flex-direction: column;flex: 1 1 100%;justify-content: space-between;">
                                            <div class="nav-side_content">
                                                <ul class="">
                                                    <li class="">
                                                        <a href="{% url 'latinoMusic_app:index' %}" class="" style="">
                                                            <span class="" style="display: inline-block;position: relative;text-align: center; margin-right: 1rem;">
                                  <i class="fas fa-home"></i>
                                </span>
                                                            <span class="" style="font-size: 1rem;">Home</span
                                >
                              </a>
                            </li>
                            <li class="">
                              <a href="" class="">
                                <span
                                  class=""
                                  style="display: inline-block;position: relative;text-align: center; margin-right: 1rem;"
                                >
                                  <i class="fas fa-compass"></i>
                                </span>
                                                            <span class="" style="font-size: 1rem;">Catalog</span
                                >
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="nav-side_content"
                          style="align-self: flex-start; display: flex;flex-direction: column-reverse;flex: 1 0 auto;margin-bottom: 1rem; height:300px;"
                        >
                          <ul class="" style="padding-left: 3rem;"></ul>
                        </div>
                        <div class="nav-side_content">
                          <ul class="">
                            <li class="">
                              <a href="#" class="" id="apps_modal_btn" >
                                <span
                                  class="fas fa-cogs "
                                  style="display: inline-block;position: relative;text-align: center; margin-right: 1rem;"
                                ></span>
                                                            <span class="" style="font-size: 1rem;">Settings</span
                                >
                              </a>
                            </li>
                            <li class="">
                              <a href="{% url 'latinoMusic_app:logout' %}" class="">
                                <span
                                  class=""
                                  style="display: inline-block;position: relative;text-align: center; margin-right: 1rem;"
                                  ><i class="fas fa-sign-out-alt"></i
                                ></span>
                                                            <span class="" style="font-size: 1rem;">Log Out</span
                                >
                              </a>
                            </li>
                          </ul>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </nav>
              <main class="">
                <section
                  class="main-sec grid-12 grid-parent"
                  style="margin-left: 16rem;background-color: #000;box-shadow: 0 0 40px rgba(0,0,0,0.2);left: 0;position: fixed;right: 0;top: 0;transition: margin-left .2s ease-in-out,margin-right .2s ease-in-out;z-index: 9;"
                >
                 <div class="grid-1" style="padding: .6rem 0.8rem;  ">
                    <img src="{% static 'images/logo.jpg' %}" alt="" style="width:38px;height:38px">
                  </div>
                 
                  <div class="grid-8" style="padding: 1rem 0.8rem; " id="navigation">
                    <section class="h-center">
                      <article class="grid-parent">
                        <nav class="nav" id="nav">
                          <ul class="nav_list">
                            <li class="nav_item">
                              <a href="#Tracks" class="nav_link"
                                >Tracks</a
                              >
                            </li>
                            <li class="nav_item">
                              <a href="#featured" class="nav_link"
                                >New Releases</a
                              >
                            </li>
                            <li class="nav_item">
                              <a href="#trend" class="nav_link">Trends</a>
                            </li>
                            <li class="nav_item">
                              <a href="#playlist" class="nav_link"
                                >Playlists</a
                              >
                            </li>
                            <li class="nav_item">
                              <a href="#genre" class="nav_link">Genres</a>
                            </li>
                            <li class="nav_item">
                              <a href="#packs" class="nav_link"
                                >Kumbia Packs</a
                              >
                            </li>
                         </ul>
                        </nav>
                      </article>
                    </section>
                  </div>
                  <div class="grid-1" style="padding: 1rem 2rem 0.8rem ">
                      <a href="#" class="nav_link" id="user-account"><img src="{% static 'images/logo.jpg' %}" style="width:28px; height:28px;border-radius:50%"></a >
                        {{request.user.id}}
                  </div>
                   <button class="header_hamburger-btn grid-2" type="button" onclick="openMobileNav()" style="margin-right: 1.2rem;">
                      <span
                        class="fas fa-align-right"
                        style="font-size: 2rem; background: transparent;color:#fff;"
                      ></span>
                                                            </button>
                                                            <div id="mobile-Nav" class="overlay">
                                                                <a href="javascript:void(0)" class="closebtn" onclick="closeMobileNav()">&times;</a>
                                                                <div class="overlay-content">
                                                                    <a href="#Tracks">Tracks</a>
                                                                    <a href="#featured">New Releases</a>
                                                                    <a href="#trend">Trends</a>
                                                                    <a href="#playlist">Playlists</a>
                                                                    <a href="#genre">Genres</a>
                                                                    <a href="#packs">Kumbia packs</a>
                                                                </div>
                                                            </div>

                                        </section>
                                        <section class="layout_rel" id="main-cont">
                                            <div class="" style="padding: 0.875rem;max-width: 90%;margin: 0 auto;width: 100%;">
                                                <div class="layout_rel" id="main-cont_wrapper">
                                                    <!---------------slider section----------->

                                                    <section id="slider" class="slider">
                                                        <div class="container v-h_center">

                                                            <div class="row">
                                                                <div class="col-md-2 d-none d-md-block">
                                                                    <a class="carousel-control-prev slide-control" href="#img-slider" role="button" data-slide="prev" style="color: rgb(43, 53, 71);">
                                                                        <img src="{% static 'images/left.png' %}" alt="" />
                                                                        <span class="sr-only">Previous</span>
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-8 mx-auto">
                                                                    <div id="img-slider" class="carousel slide" data-ride="false" data-touch="true">
                                                                        <div class="slide-indicators">
                                                                            <ol class="carousel-indicators" style="z-index: 2;">
                                                                                <li data-target="#img-slider" data-slide-to="0" class="active"></li>
                                                                                <li data-target="#img-slider" data-slide-to="1"></li>
                                                                                <li data-target="#img-slider" data-slide-to="2"></li>
                                                                            </ol>
                                                                        </div>
                                                                        <div class="carousel-inner">
                                                                            <div class="carousel-item active">
                                                                                <img src="{% static 'images/banner.png' %}" alt="First slide" class="img-fluid" />
                                                                            </div>
                                                                            <div class="carousel-item">
                                                                                <img src="{% static 'images/banner.png' %}" alt="Second slide" class="img-fluid" />
                                                                            </div>
                                                                            <div class="carousel-item">
                                                                                <img src="{% static 'images/banner.png' %}" alt="Second slide" class="img-fluid" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 d-none d-md-block">
                                                                    <a class="carousel-control-next slide-control" href="#img-slider" role="button" data-slide="next" style="color: rgb(43, 53, 71);">
                                                                        <img src="{% static 'images/right.png' %} " alt="" />
                                                                        <span class="sr-only">Next</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <!-- End slider Section -->
                                                    <section class="grid-12">
                                                        <div class="container-fluid">
                                                            <div class="row d-flex text-align_c">
                                                                {% comment %} <div class="col-md-4 col-sm-12">
                                                                    <div class="section-title">
                                                                        <h2 data-aos="fade-in">Our work</h2>
                                                                        <p data-aos="fade-in">
                                                                            Proud for being part of us,Enjoy our fantastic latino Music
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8 col-sm-12 ">
                                                                    <form action=" " class="form-inline m-auto">
                                                                        <input type="text" name="" placeholder="search here for best experience" id="" />
                                                                        <button type="submit">Search</button>
                                                                    </form>
                                                                </div> {% endcomment %}
                                                            </div>
                                                        </div>
                                                    </section>

                                                    <!-- start of the site content -->
                                                    <section class="grid-12 grid-parent" id=Tracks>
                                                        <div class="grid-parent layout-center v-h_center " id="home-artists_cont">
                                                            <article class="grid-12 text-align_c" id="home-artists_header">
                                                                <div class="layout_rel v-h_center">
                                                                    <div class="layout_rel text-align_c">
                                                                        <span class="grid-12">see what's new</span>
                                                                        <h2 id="latest_title">Latest Trucks</h2>
                                                                    </div>
                                                                </div>
                                                            </article>
                                                            <article class="grid-12 v-h_center">
                                                                <div class="grid-8 v-h_center box_margBot4">
                                                                    <div class="grid-12 grid-parent box_BotPad2">
                                                                        <p class="text-align_c">
                                                                            Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </article>

                                                            <div class="grid-12 grid-parent layout-center v-h_center">
                                                               {% for truck in trucks %}
                                                                  <article class="grid-3 h-center text-align_c home-artists_item">
                                                                    <div class="product-grid">
                                                                        <div class="product-image">
                                                                            <a href="">
                                                                                <img src="{{truck.artist_image.url}}" alt="" class="pic-1" />
                                                                            </a>
                                                                            <ul class="social">
                                                                                <li>
                                                                                    <a href="javascript:void(0)" class="play-bground" id="play-audio" data-tip="Quickly listen" data-url="{{truck.track.url}}" data-id="{{truck.track.id}}"><i class="fas fa-play"></i></a>
                                      
                                                                                </li>
                                                                                <li>
                                                                                    <a href="javascript:void(0)" data-tip="Add to wishlist"><i class="fas fa-shopping-bag"></i ></a>
                                     
                                                                                </li>
                                                                                <li>
                                                                                    <a href="{{truck.track.url}}" data-id="{{truck.id}}" data-tip="Download media" id="download-btn"><i class="fas fa-download"></i></a>
                                  
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                               {% endfor %}
                                                            
                                                            </div>
                                                        </div>
                                                      </section>  
                                                 
                                                    <!-- featured section -->
                                                    <section class="box box-padding" style="margin-top: 40px;" id="featured">
                                                        <div style="margin-bottom:12px">
                                                            <div class="coverlist-header">
                                                                <span class="headline">Featured</span>
                                                                <span class="viewall">Featured</span>
                                                                <div class="arrow-container">
                                                                    <div class="arrow">
                                                                        <span class="fas fa-arrow-left"></span>
                                                                    </div>
                                                                    <div class="arrow">
                                                                        <span class="fas fa-arrow-right"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="no-scrollbar" style="display:flex ; flex: 1 1 0%; overflow-x: scroll;">
                                                            {% for featured in featureds %}
                                                                <div class="coverlist-item" style="margin-left: 0px; margin-right: 15px;width: 240px;cursor: auto;">
                                                                    <img src="{{featured.song.artist_image.url}}" alt="" style="height: 240px;width: 240px;object-fit: cover;margin-bottom: 15px;" />
                                                                    <div style="display: flex; flex-direction: row;">
                                                                        <div style="overflow: hidden;">
                                                                            <div style="display: flex;justify-content: space-between;">
                                                                                <span class="item-text item-title_link">{{featured.song.title}}</span>   
                                                                            </div>
                                                                                <span class="item-text item-subtitle">
                                                                                  <span class="link">{{featured.song.artist_name}}</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <span class="item-text item-info">105</span>
                                                                        <div class="play-pause-overlay" style="height: 240px; width: 240px;object-fit: cover; margin-bottom: 15px;cursor:pointer">
                                                                            <span style="cursor: pointer;">
                                                                              <div id="play-audio" class="play-background" data-url="{{featured.song.track.url}}" data-id="{{featured.song.id}}">
                                                                                <span class="fas fa-play text-align_c"></span>
                                                                              </div>    
                                                                            </span>      
                                                                        <div class="cover-more">
                                                                            <div class="browse-more" style="margin-left: auto;">
                                                                                <div class="btn-group">
                                                                                    <a href="{{featured.song.track.url}}" data-id="{{featured.song.id}}" style="border-radius: 50%;margin-bottom: 12px;" id="download-btn">
                                                                                        <span class="fas fa-download"></span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                             {% endfor %}
                                                            </div>
                                                         </div>
                                                    </section>
                                                    <!-- end of featured section -->
                                                    <!-- start Trendings section -->
                                                    <section class="box box-padding" style="margin-top: 40px;" id="trend">
                                                        <div style="margin-bottom:12px">
                                                            <div class="coverlist-header">
                                                                <span class="headline">Trendings</span>
                                                                <span class="viewall">see all</span>
                                                                <div class="arrow-container">
                                                                    <div class="arrow">
                                                                        <span class="fas fa-arrow-left"></span>
                                                                    </div>
                                                                    <div class="arrow">
                                                                        <span class="fas fa-arrow-right"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="no-scrollbar" style="display:flex ; flex: 1 1 0%; overflow-x: scroll;">
                                                            {% for trend in trendings %}
                                                               <div class="coverlist-item" style="margin-left: 0px; margin-right: 15px;width: 240px;cursor: auto;">
                                                                    <img src="{{trend.song.artist_image.url}}" alt="" style="height: 240px;width: 240px;object-fit: cover;margin-bottom: 15px;" />
                                                                    <div style="display: flex; flex-direction: row;">
                                                                        <div style="overflow: hidden;">
                                                                            <div style="display: flex;justify-content: space-between;">
                                                                                <span class="item-text item-title_link">{{trend.song.title}}</span>   
                                                                            </div>
                                                                                <span class="item-text item-subtitle">
                                                                                  <span class="link">{{trend.song.artist.name}}</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <span class="item-text item-info">105</span>
                                                                        <div class="play-pause-overlay" style="height: 240px; width: 240px;object-fit: cover; margin-bottom: 15px;cursor:pointer">
                                                                            <span style="cursor: pointer;">
                                                                              <div id="play-audio" class="play-background" data-url="{{trend.song.track.url}}" data-id="{{trend.song.id}}">
                                                                                <span class="fas fa-play text-align_c"></span>
                                                                              </div>    
                                                                            </span>      
                                                                        <div class="cover-more">
                                                                            <div class="browse-more" style="margin-left: auto;">
                                                                                <div class="btn-group">
                                                                                    <a href="{{trend.song.track.url}}" data-id="{{trend.song.id}}" style="border-radius: 50%;margin-bottom: 12px;" id="download-btn">
                                                                                        <span class="fas fa-download"></span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                  
                                                            {% endfor %}
                                                            </div>
                                                          </div>
                                                    </section>
                                                    <!--playlist-->
                                                    <section class="box box-padding" style="margin-top: 40px;" id="playlist">
                                                        <div style="margin-bottom:20px">
                                                            <div class="" style="text-align:center;margin:2em auto">
                                                                <span class="headline">PlayList</span>
                                                                <h6 class="text_c-cream">This week top</h6>
                                                            </div>
                                                            <div class="no-scrollbar" style="display: flex; flex: 1 1 0%;flex-direction:column; overflow-x: scroll;">
                                                            {% for playlist in playlists %}
                                                              <div class="list-item grid-12">
                                                                <div class="list-item-inner">
                                                                  <div class="list-title"><a href="javascript:void(0)">{{playlist.song.title}} <span class="text_c-cream box_hrPad3"> by Rianna</span></a></div>
                                                                  <div class="list-actions">
                                                                    <a href="javascript:void(0)" id="play-audio"  data-url="{{playlist.song.track.url}}" data-id="{{playlist.song.id}}"><i class="fas fa-play"></i></a>
                                                                    <a href="{{playlist.song.track.url}}"  data-id="{{playlist.song.id}}" id="download-btn"><i class="fas fa-download"></i></a>
                                                                  
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            
                                                            
                                                            {% endfor %}
                                                             
                                                                   
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <!-- Genre sec -->
                                                    <section class="box box-padding" style="margin-top: 40px;" id="genre">
                                                        <div style="margin-bottom:20px">
                                                            <div class="coverlist-header">
                                                                <span class="headline">Genres</span>
                                                                <span class="viewall">see all</span>
                                                                <div class="arrow-container"></div>
                                                            </div>
                                                            
                                                            <div class="no-scrollbar" style="display: flex; flex: 1 1 0%; overflow-x: scroll;">
                                                                {% for genre in genres %}
                                                                  <div class="coverlist-item" style="margin-left: 0px; margin-right: 15px;width: 240px;cursor: auto;">
                                                                    <img src="{{genre.genre_image.url}}" alt=" " style="width: 240px; height: 240px; " />
                                                                  </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <!-- end-genre sec -->

                                                    <!-- audio player hidden -->
                                                    <section class="audio-player hidden" style="display: none;">
                                                        <div class="col artist-title " style="font-size: 1.6rem;">
                                                           
                                                        </div>
                                                        <div class="col version">2.6.2</div>
                                                        <div class="embed-media_player" style="width:60%"></div>
                                                    </section>
                                                    <!-- end of player -->

                                                    <section class="md-modal md-effect-1 " id="modal-1">
                                                     <article class="md-content">
                                                       <div style="position:relative;right:0%;backround:#f1f1f1;border-radius:50%;background:#f1f1f1;width:40px;height:40px;text-align:center;z-index:100;cursor:pointer;">
                                                         <span class="clos" style="margin:auto; font-size:2em; color:red" id="md-close">&times;</span>
                                                       </div>
                                                      <h3>user profile</h3>
                                                      <div class="container-fluid layout_rel text_c-blue box_vertPad2" id ="form_pos">
                                                       <div class="row m-auto" style="position:relative">
                                                          <div class="col-lg-12 col-md-12">
                                                              <div class="card m-auto" style="background:#0e171e;">
                                                                  <div class="card-body">
                                                                      <div class="text-center">
                                                                        
                                                                          {% if profile.profile_pic.url is not None %}
                                                                             <img src="{{profile.profile_pic.url}}" class="rounded-circle" width="60" />
                                                                          {% else %}
                                                                             <img src="{% static 'images/logo.jpg' %}" class="rounded-circle" width="60" />
                                                                          {% endif %}
                                                                          
                                                                          <h4 class="card-title mt-10 text_c-cream">{{profile.user.username}}</h4>
                                                                          
                                          
                                                                       </div>
                                                                    </div>
                                                                   
                                                                    <div class="card-body">
                                                                          <small class="text-muted d-block">Full name </small>
                                                                          <h6 class="text_c-cream">{{profile.first_name}} {{profile.last_name}}</h6>
                                                                          <small class="text-muted d-block">Email address </small>
                                                                          <h6 class="text_c-cream">{{profile.email}}</h6>
                                                                          <small class="text-muted d-block pt-10">Phone</small>
                                                                          <h6 class="text_c-cream">{{profile.phone_number}}</h6>
                                                                          <small class="text-muted d-block pt-10">location</small>
                                                                          <h6 class="text_c-cream">{{profile.location}}</h6>
                                                                          <div class="map-box"></div>
                                                                          <br />
                                                                          <a href="{% url 'latinoMusic_app:user-profile' %}" class="">Edit</a>
                                                                     </div>
                                                                  </div>
                                                                </div>
                                                                    
                                                            
                
                                                        </div>
                                                      </div>
                                                    </article>
                                                  </section>
                                                   
                                                    <!-- end of site content -->

                                                    <div class="footer " style="border-top: 1px solid #dbe2e8;max-width: 1024px;margin: 30px auto 80px; padding: 30px 0 0; ">
                                                        <ul class=" " style="font-weight: 600;color:#2e3d49;padding-left: 15px;padding-right: 15px;font-size: .875rem; ">
                                                            <li class=" ">
                                                                <a href=" " style="margin-right: 25px; color: #f1f1f1;font-weight: inherit;text-decoration: none; ">Help & FAQ</a>
                                                            </li>  
                                                      
                                                            <li class=" ">
                                                              <a  href=" " style="margin-right: 25px; color:#f1f1f1;font-weight: inherit;text-decoration: none; " >Report An Issue</a>
                                                                
                                                            </li>
                                                        </ul>
                                                   </div>
                    </div>
                  </div>
                </section>
              </main>
            </div>
          </section>
        </div>
      </div>
    </section>
  </body>
  <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
   <script src="{% static 'js/music-display.js' %}"></script>
  <script>
    
    
    function openMobileNav() {
        document.getElementById("mobile-Nav").style.width = "100%";
    }

    function closeMobileNav() {
        document.getElementById("mobile-Nav").style.width = "0%";
    }
    document.querySelectorAll('a#download-btn').forEach(item=>{
      item.addEventListener('click',e=>{

        e.preventDefault();
        let loc_array = String(item.attributes[0].value).split('/');
        //data
        let data = String(item.attributes[1].value);    
        let request = new XMLHttpRequest();
        request.open('GET','{% url "latinoMusic_app:download_music" %}'+'?songid='+data,true);
        request.setRequestHeader('Content-Type','application/x-www-form-urlencoded;charset=UTF-8');
        request.setRequestHeader('X-CSRFToken','{{ csrf_token }}');
      
        request.responseType = 'blob';
        request.onload = function(e){
          if(this.status ==200){
            let filename = loc_array.slice(-1)[0] //'dummy-audio.mp3' //this.attr('href');
            let disposition = request.getAllResponseHeaders('Content-Disposition');
            //check if file name is given
            if(disposition && disposition.indexOf('attachment')!==-1){
              let filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
              let matches = filenameRegex.exec(disposition);
              if(matches !=null&&matches[1])filename = matches[1].replace(/['"]/g,'');
            }
            let blob = this.response;
            if(window.navigator.msSaveOrOpenBlob){
              window.navigator.msSaveBlob(blob,filename);
            }else{
              let downloadLink = window.document.createElement('a');
              let ContentTypeHeader = request.getResponseHeader("Content-Type");
              downloadLink.href = window.URL.createObjectURL(new Blob([blob],{type:ContentTypeHeader}));
              downloadLink.download = filename;
              document.body.appendChild(downloadLink);
              downloadLink.click();
              document.body.removeChild(downloadLink);
            }
          }else{
            alert('Download failed.')
          }
        };
        request.send(); 
      });

    });


   {% comment %} document.querySelectorAll('.play-bground').forEach(item=>{
      item.addEventListener('click',function(){
           let data = String(item.attributes[1].value);

           console.log("clicked",item.attributes[1].value)
      });
      
    });  {% endcomment %}

    $('#apps_modal_btn').on('click',function(){
       $('#modal-1').toggleClass("md-show");
    });

    $('div#play-audio,#play-audio').on('click', function() {
        let s = $(this).attr('data-id')
        let audi_player = '<audio controls autoplay><source src=' + $(this).attr('data-url') + ' type="audio/mpeg"/></audio>'
        $('.audio-player').show();
        $('.embed-media_player').append(audi_player);
        playAudio(s) 

    });
  
   function playAudio(s){
    $.ajax({
      method:'GET',
      url:'{% url "latinoMusic_app:play_music"%}',
      data:{'songid':s},
      success: function(response){
        console.log("success");
        console.log(response['data'])
        $('div.artist-title').text(response['data'])
      }
    })
  }  

   {% comment %} $('#user_profForm').submit(function(e) {
              e.preventDefault();
              window.alert("form submitted");
              var serializedData = $(this).serialize();
              console.log("serialized data :" + serializedData);

              $.ajax({
                  url: {% url 'latinoMusic_app:updateProfile-details' %},
                  dataType: "json",
                  method: 'post',
                  data: serializedData,
                  headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                  success: function(response) {
                      alert(response['message']);
                     

                  },
                  error: function(response) {
                      alert(response["error"]);

                  }
              });

          }); {% endcomment %}

    $('#md-close').on('click', function(e) {
        e.preventDefault();
        $('#modal-1').toggleClass("md-show");
    });
      
  
  </script>
</html>