{% extends 'latinoMusic_admin/latinoMusic_admin_base.html' %}
{% load static %}
{% block main_content %}
  <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
              <div class="row align-items-end">
                <div class="col-lg-8">
                  <div class="page-header-title">
                    <i class="ik ik-layers bg-blue"></i>
                    <div class="d-inline">
                      <h5>Catalog</h5>
                      <span
                        >lorem ipsum dolor sit amet, consectetur adipisicing
                        elit</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                   <nav class="breadcrumb-container" aria-label="breadcrumb">
                     <ol class="breadcrumb">
                       <li class="breadcrumb-item"> <a href="{% url 'latinoMusic_app:latino-admin' %}"><i class="ik ik-home"></i></a> </li>
                       <li class="breadcrumb-item"> <a href="{% url 'latinoMusic_app:latino-admin-all_songs' %}">Site data</a></li>
                       <li class="breadcrumb-item active" aria-current="page">New Track</li>     
                     </ol>
                   </nav>
                </div>
              </div>
            </div>

             <div class="container">
               <h4>Add new Track</h4>
               <div class="apps-wrap">
                   <form method="POST" action="">
                        {% csrf_token %}
                        {{form.as_p}}
                    
                        <button type="submit" class="btn btn-success">Add</button>
                      </form>
                </div>
             </div>
  
         
     </div>
  </div>

















 


{% endblock main_content %}